/* --------------------------Variable-------------------------- */
:root{
  --text-main-color: #161A1A;
  --text-main-family: 'Lato', sans-serif;
  --text-secondary-color:#4C4C4C;
    
}
/* --------------------------NavBar-------------------------- */

.navbar-nav a {
    font-family: var(--text-main-family);
    font-size: 18px;
    color:white;
    
}
.navbar-nav a:hover {
    transition: 0.2s linear;
    font-family: var(--text-main-family);
    font-size: 18px;
    color:white;
    text-decoration: underline;
    
    
}
.navbar-toggler{
             border: 2px solid #fff;
         } .navbar-toggler-icon {
             
             padding: 15px;
             border-radius: 5px;
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
/* --------------------------margins and padding-------------------------- */
.mt-6{
    margin-top: 5rem;
}
.pt-6{
    padding-top: 5rem;
}

/* --------------------------Typographie-------------------------- */
.first-text{
    font-family: var(--text-main-family);
    font-size: 48px;
     padding-bottom: 2rem;
    
}
#secondary-text{
    padding-top: 1.3rem; 
    font-family: var(--text-main-family);
    color: #fff;
    font-size: 16px;
}
.sec-text{
    font-family: var(--text-main-family);
    font-size: 16px;
    
}
#3rd-text{
   font-family: var(--text-main-family);
    
}
#why-text{
    margin-top: 10px;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    
}
.social-media{
    text-align: center;
}
#footer-contact{
    
    font-family: var(--text-main-family);
    color: #848484;
    font-size: 14px;
}
#third-text{
    font-size: 36px;
    font-family:'Lato', sans-serif;
}
/* --------------------------Section-------------------------- */
header{
    background-image:url('img/1-st%20screen.jpg');
    width: 100%;
    height: 100vh;
    
}
#first-section{
    background-color: var(--text-main-color);
    
}
body{
    color:white;
    padding: 0;
    margin: 0;
}
#flow-section{
    padding-top: 10rem;
}
#third-section{
   
    background-color: var(--text-main-color);
}
.chose-description{
    text-align: center;
    padding-top: 60px;
}
/* --------------------------Div-------------------------- */
.intro-description{
    text-align: center;
    padding-top: 11rem;
    color:#fff;
}
#last-section{
   background-color: var(--text-main-color); 
}

/* --------------------------Footer-------------------------- */
footer{
    background-color: #111313;
}
footer li{
     font-family: var(--text-main-family);
    font-size: 14px;
    padding-top: 5px;
}
footer ul{
    padding:0;
    list-style: none;
}
#FooterLi{
    color: #848484;
}
.img-border{
     background-color: #363535;
    padding: 10px;
    border-radius: 50%;
}
#letter-subs{
             position: relative;
         }
         #letter-subs i{
             color: #fff;
             background-color:  #89cff0;
             padding: 7px;
             position: absolute;
             top:0px;
             right:1px;
         
         }
/* --------------------------Button-------------------------- */
#button-first-1{
    background: linear-gradient(#9B2DEF,#35EDFB);
    padding: 15px;
    margin: 0 20px;
    color: white;
    font-weight: 200;
    font-size: 16px;
    border-radius: 15px;
    font-family: var(--text-main-family);
}
#button-first-2{
    background-color: inherit;
    margin: 0 20px;
    padding: 15px;
    color: white;
    border: 1px solid #fff;
    font-weight: 200;
    font-size: 16px;
    border-radius: 15px;
    font-family: var(--text-main-family);
}
.btn-login {
    background-color: inherit;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 15px;
    color:#fff;
}
.btn-login:hover {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 15px;
    color:black;
}
.btn-sign {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 15px;
    color:black;
}
.btn-sign:hover {
    background-color: inherit;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 15px;
    color:#fff;
}
/* --------------------------iamge-------------------------- */
image-2{
    width: 100%;
    height: 100vh;
}

.chose-description img{
    background-color: #363535;
    padding: 25px;
    border-radius: 50%;
}
.flow-image{
        padding-right: 3rem;
    }
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: #161A1A;
}
/* --------------------------media-------------------------- */
@media only screen and (max-width:768px){
     
    #button-first-1{
    background: linear-gradient(#9B2DEF,#35EDFB);
    padding: 8px;
    margin: 0 5px;
    color: white;
    font-weight: 200;
    font-size: 12px;
    border-radius: 15px;
    font-family: var(--text-main-family);
}
    #button-first-2{
    background-color: inherit;
    margin: 0 5px;
    padding:8px;
    color: white;
    border: 1px solid #fff;
    font-weight: 200;
    font-size: 12px;
    border-radius: 15px;
    font-family: var(--text-main-family);
}
    .first-text{
    
    font-family: var(--text-main-family);
    font-size: 28px;
     padding-bottom: 2rem;
    
}
    .navbar{
        padding:20px 5px;
    }
    py-5{
        padding-top:10px;
        padding-bottom: 0;
    }.intro-description{
    
    padding-top: 5rem;
    
}
    #flow-section{
    padding-top: 2rem;
}
    .flow-image{
        padding-right:10px;
        width: 48px;
        height:48px;
    }
    #third-text{
    font-size: 28px;font-family:'Lato', sans-serif;
}
    .sec-text{
    font-family: var(--text-main-family);
    font-size: 14px;
    
}
    .chose-description .first-text{
    padding:0 10px;
    font-family: var(--text-main-family);
    font-size: 28px;
     padding-bottom: 2rem;
    
}
    
}